* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Rubik";
}
:root{
	--index: calc(1vh + 1vw);
}
body {
	height: 100vh;
	overflow-x: hidden;
}
a {
	color: #608be6;
}
.header {
	width: 100%;
	height: 100%;
	background-image: url(../img/Fon.png);
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(var(--index)*1.5);
	color: rgb(255, 255, 255);
}
.name_header {
	backdrop-filter: blur(10px);
	padding: calc(var(--index)*2);
	box-shadow: 0px 0px 15px 0.1px rgb(255, 255, 255);
	border-radius: calc(var(--index)*1);
}
.section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8, .section_9, .section_10 {
	width: 100%;
	display: flex;
	height: 90vh;
	overflow-x: hidden;
}
.section_2, .section_4, .section_6, .section_8, .section_10 {
	background-color: #240161;
}
.section_1_img, .section_2_img, .section_3_img, .section_4_img, .section_5_img, .section_6_img, .section_7_img, .section_8_img, .section_9_img, .section_10_img {
	width: 90%;
	height: 90%;
	object-fit: cover;
	border-radius: calc(var(--index)*2);
	border: 1px solid black;
	position: relative;
}
.img_cont_1, .img_cont_2, .img_cont_3, .img_cont_4, .img_cont_5, .img_cont_6, .img_cont_7, .img_cont_8, .img_cont_9, .img_cont_10 {
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text_cont_1, .text_cont_2, .text_cont_3, .text_cont_4, .text_cont_5, .text_cont_6, .text_cont_7, .text_cont_8, .text_cont_9, .text_cont_10 {
	width: 50%;
	height: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.text_cont_1 h1, .text_cont_2 h1, .text_cont_3 h1, .text_cont_4 h1, .text_cont_5 h1, .text_cont_6 h1, .text_cont_7 h1, .text_cont_8 h1, .text_cont_9 h1, .text_cont_10 h1{
	font-family: "Comfortaa";
	font-size: 2.5vw;
}
.text_cont_1 p, .text_cont_2 p, .text_cont_3 p, .text_cont_4 p, .text_cont_5 p, .text_cont_6 p, .text_cont_7 p, .text_cont_8 p, .text_cont_9 p, .text_cont_10 p{
	font-family: "Comfortaa";
	font-size: 1vw;
}
@media (max-width: 530px){
.section_1, .section_2, .section_3, .section_4, .section_5, .section_6, .section_7, .section_8, .section_9, .section_10 {
	flex-direction: column;
}
.img_cont_1, .img_cont_2, .img_cont_3, .img_cont_4, .img_cont_5, .img_cont_6, .img_cont_7, .img_cont_8, .img_cont_9, .img_cont_10 {
	width: 100%;
	height: 50%;
	order: 2;
}
.text_cont_1, .text_cont_2, .text_cont_3, .text_cont_4, .text_cont_5, .text_cont_6, .text_cont_7, .text_cont_8, .text_cont_9, .text_cont_10 {
	width: 100%;
	height: 50%;
	order: 1;
}
.section_1_img, .section_2_img, .section_3_img, .section_4_img, .section_5_img, .section_6_img, .section_7_img, .section_8_img, .section_9_img, .section_10_img {
	width: 90%;
	height: 90%;
}
.text_cont_1 h1, .text_cont_2 h1, .text_cont_3 h1, .text_cont_4 h1, .text_cont_5 h1, .text_cont_6 h1, .text_cont_7 h1, .text_cont_8 h1, .text_cont_9 h1, .text_cont_10 h1{
	font-size: 4.5vw;
}
.text_cont_1 p, .text_cont_2 p, .text_cont_3 p, .text_cont_4 p, .text_cont_5 p, .text_cont_6 p, .text_cont_7 p, .text_cont_8 p, .text_cont_9 p, .text_cont_10 p{
	font-size: 3vw;
}
}
.wow {
	visibility: hidden;
}
